<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Join Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Join Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-item>
    <ion-label position="floating">Nickname</ion-label>
    <ion-input type="text" [(ngModel)]="currentUser" placeholder="Nickname"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="currentUserMail" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="email" [(ngModel)]="currentUserPass" placeholder="Password"></ion-input>
  </ion-item>
  <div class="ion-padding">
    <ion-button full (click)="joinChat(currentUserPass,currentUserMail)" [disabled]="currentUserMail === ''">Join Chat</ion-button>
    or
    <ion-button [routerLink]="['/register']">Register</ion-button>
  </div>

</ion-content>
